---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props;
---

<div class={`mesh ${className}`} {...attrs}></div>
<style>
  .mesh {
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    position: fixed;
    height: 100dvh;
    width: 100%;
    background-color: hsl(210, 29%, 8%);
    background-image:
      radial-gradient(
        at 73% 74%,
        hsla(172, 75%, 27%, 0.3) 0px,
        transparent 50%
      ),
      radial-gradient(at 25% 32%, hsla(202, 75%, 27%, 0.3) 0px, transparent 50%);
  }
</style>
