@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-accent-200: hsl(170, 70%, 50%);
  --color-accent-600: hsl(172, 75%, 22%);
  --color-accent-900: hsl(210, 35%, 12%);
  --color-accent-950: hsl(210, 40%, 6%);

  --color-gray-100: hsl(0, 0%, 100%);
  --color-gray-200: hsl(210, 20%, 85%);
  --color-gray-300: hsl(210, 20%, 75%);
  --color-gray-400: hsl(210, 20%, 65%);
  --color-gray-500: hsl(203, 23%, 15%);
  --color-gray-700: hsl(206, 28%, 12%);
  --color-gray-800: hsl(208, 35%, 8%);
  --color-gray-900: hsl(210, 40%, 6%);
}

.site-title img {
  height: 1.5rem;
}
