---
import { HeartIcon } from "@/assets/icons";
import OrbitUI from "@/assets/logo/orbitui_logo_dark.svg";
---

<footer
  class="border-border bg-background/10 z-(--header-z-index) sticky left-0 top-0 w-full border-dashed backdrop-blur-md"
>
  <div
    class="border-border mx-auto flex max-w-6xl items-center justify-between border-x border-dashed px-3 py-12"
  >
    <div
      class="text-muted-foreground flex w-full flex-col items-center justify-center gap-4 text-center"
    >
      <div>
        <a href="/">
          <OrbitUI class="h-6 w-auto" />
        </a>
      </div>

      <p class="text-md max-w-sm">
        Accessible, Customizable, & Lightweight component library created with
        <HeartIcon class="inline size-4 text-red-400" /> by
        <a href="https://x.com/NSMichelJ" class="underline">Michelito</a>.
      </p>

      <p></p>

      <p>©2025 OrbitUI.</p>
    </div>
  </div>
</footer>
