---
import { DiscordIcon, GitHubIcon } from "@/assets/icons";
import OrbitUI from "@/assets/logo/orbitui_logo_dark.svg";

const links = [
  {
    name: "Docs",
    href: "/getting-started/installation/",
  },
  {
    name: "Components",
    href: "/components/",
  },
];

const socialLinks = [
  {
    name: "GitHub",
    href: "https://github.com/nsmichelj/orbitui",
    icon: GitHubIcon,
  },
  {
    name: "Discord",
    href: "https://discord.gg/JZHt3dNeJm",
    icon: DiscordIcon,
  },
];
---

<header
  class="border-border bg-background/10 z-(--header-z-index) sticky left-0 top-0 w-full border-b border-dashed backdrop-blur-md"
>
  <div
    class="border-border mx-auto flex max-w-6xl items-center justify-between border-x border-dashed px-3 py-4"
  >
    <div class="flex flex-row items-center gap-6">
      <a href="/">
        <OrbitUI class="h-6 w-auto" />
      </a>

      <nav>
        <ul class="flex gap-4">
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-foreground/80 hover:text-foreground font-semibold transition-colors duration-200"
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>

    <nav>
      <ul class="flex gap-2">
        {
          socialLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class="text-foreground/80 hover:text-foreground font-semibold transition-colors duration-200"
                aria-label={link.name}
              >
                <link.icon class="size-5" />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
