---
import {
  ArrowRightIcon,
  BlocksIcon,
  CubeIcon,
  PackageOffIcon,
  ShieldIcon,
  TerminalIcon,
} from "@/assets/icons";
import { cn } from "@/utils/cn";
import { Button } from "../ui/button";

const features = [
  {
    title: "Full TypeScript Support",
    description:
      "Benefit from the type safety and code suggestions provided by TypeScript, improving maintainability and development workflow.",
    class: "sm:col-span-3",
    icon: ShieldIcon,
  },
  {
    title: "Easily Customizable",
    description:
      "Gain complete control over each component. Modify styles with Tailwind CSS and adapt logic to fit your exact needs.",
    icon: BlocksIcon,
    class: "sm:col-span-3",
  },
  {
    title: "Optimized Components",
    description:
      "Lightweight and high-performance components, built to leverage Astro's performance-focused architecture.",
    class: "sm:col-span-3 md:col-span-2",
    icon: CubeIcon,
  },
  {
    title: "No Unnecessary Dependencies",
    description:
      "Components are copied directly into your project, avoiding bloat and external dependencies you don't need.",
    icon: PackageOffIcon,
    class: "sm:col-span-3 md:col-span-2",
  },
  {
    title: "Intuitive CLI",
    description:
      "A command-line interface tool that simplifies adding and managing components within your project.",
    class: "sm:col-span-6 md:col-span-2",
    icon: TerminalIcon,
  },
];
---

<div class="border-border border-b border-dashed">
  <div class="border-border mx-auto max-w-6xl border-x border-dashed px-3">
    <!-- <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div> -->
    <div
      class="flex flex-col items-center justify-center gap-6 py-20 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-primary border-border inline-block border border-dashed px-3 py-1 text-sm uppercase tracking-wider"
        >
          Features
        </h2>
        <h3 class="text-shadow-lg max-w-3xl text-4xl font-bold md:text-5xl">
          Why OrbitUI?
        </h3>
      </div>

      <p
        class="text-shadow-lg text-foreground/80 max-w-2xl text-base font-normal md:text-xl"
      >
        Built with performance, accessibility, and developer experience in mind.
        OrbitUI helps you build better Astro websites, faster.
      </p>

      <div
        class="ma grid w-full max-w-sm gap-4 px-5 sm:max-w-5xl sm:grid-cols-6"
      >
        {
          features.map((feature) => (
            <div
              class={cn(
                "bg-background/30 flex flex-col items-start gap-2 overflow-hidden rounded-2xl p-4 backdrop-blur-2xl transition-transform duration-300 ease-in-out hover:-translate-y-1",
                feature.class,
              )}
            >
              <div class="bg-primary/10 text-primary rounded-lg p-2">
                <feature.icon class="size-6" />
              </div>
              <div class="space-y-2 text-start">
                <h4 class="text-lg font-semibold md:text-xl">
                  {feature.title}
                </h4>
                <p class="text-muted-foreground text-sm font-semibold md:text-base">
                  {feature.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>

      <Button
        href="/getting-started/installation/"
        class="bg-background text-foreground hover:bg-background/80 border-none transition-transform duration-200 ease-in-out hover:scale-105"
        size="md"
      >
        Install Now and Build Faster <ArrowRightIcon />
      </Button>
    </div>
  </div>
</div>
<!-- 
<div class="bg-background my-32 w-full">
  <div class="container mx-auto p-4 py-20">
    <h2 class="mb-2 text-2xl font-bold sm:text-3xl">Why OrbitUI?</h2>
    <p class="text-muted-foreground mb-8 max-w-xl font-semibold sm:text-xl">
      Built with performance, accessibility, and developer experience in mind.
      OrbitUI helps you build better Astro websites, faster.
    </p>
    <div class="grid gap-10 md:grid-cols-2">
      {
        features.map((feature) => (
          <div class="flex justify-start gap-4">
            <div>
              <div class="bg-primary/10 text-primary rounded-lg p-2">
                <feature.icon class="size-6" />
              </div>
            </div>
            <div>
              <h4 class="mb-1 text-xl font-semibold sm:text-2xl">
                {feature.title}
              </h4>
              <p class="text-muted-foreground font-semibold">
                {feature.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div> -->
